@import '../colors.scss';

.FilteredDesk{
    display: grid;
    grid-template-columns: 264px auto;
    gap: 10px;
    .menuBox{
        display: flex;
        position: sticky;
        top: 24px;
        flex-direction: column;
        border: 1px solid $borderGray;
        padding: 12px;
        border-radius: 18px;
    }
    .Cards{
        overflow-y: auto;
        max-height: 94vh;
        scrollbar-width: none;
    }
    .Cards::-webkit-scrollbar{
        display: none;
    }
    .MovedBlock{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
        padding-bottom: 24px;
    }
}




